.soui-space {
  display: inline-flex;
  
  &.soui-space-block {
    display: flex;
  }
  
  &.soui-space-vertical {
    flex-direction: column;
  }
  
  &.soui-space-wrap {
    flex-wrap: wrap;
  }
}

.soui-space-item {
  display: inline-block;
}

.soui-space-split {
  display: inline-block;
}
